@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* outline: 2px solid red; */
}
:root {
  --BLUE-ACCENT: #4c5fd5;
  --WHITE-ACCENT: #dadbf1;
  --BLACK: #000000;
  --WHITE: #fff;
}
body {
  width: 100vw;
}
a:any-link {
  text-decoration: none;
  color: inherit;
}
header {
  background-color: var(--BLACK);
  color: var(--WHITE);
  /* width: 100%;
  width: 100%; */
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  margin-left: 5px;
}
.logo-help {
  display: flex;
  column-gap: 1rem;
  margin-top: 5px;
  margin-left: 1em;
}

.help-center {
  height: 30px;
  transform: translateX(-10px);
}
.help-center h1 {
  border-left: 3px solid white;
  padding: 0 0 0 5px;
  font-size: 24px;
  font-weight: 600;
  white-space: nowrap;
  /* transform: translateY(5px); */
}
.abstract-logo {
  width: 126px;
  height: 32px;
  margin-left: 5px;
}
.search-hamburger {
  display: flex;
}
.search-hamburger .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  margin-right: 10px;
}
.search i {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 4px;
}
.hamburger-menu {
  position: relative;
  width: 42px;
  height: 42px;
  border: none;
  background: transparent;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* margin-right: 1em; */

  /* margin-left: 1em; */
}

.hamburger-menu .hamburger-btn,
.hamburger-menu .hamburger-btn::after,
.hamburger-menu .hamburger-btn::before {
  position: absolute;
  width: 23px;
  height: 2px;
  background-color: white;
}

.hamburger-menu .hamburger-btn::after,
.hamburger-menu .hamburger-btn::before {
  content: "";
}

.hamburger-menu .hamburger-btn::before {
  transform: translate(-12px, 8px);
  align-self: center;
  justify-self: center;
}

.hamburger-menu .hamburger-btn::after {
  transform: translate(-12px, -8px);
}
.submit-sign {
  border-top: 1px solid var(--WHITE);
  padding: 4em 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.submit-sign .divider {
  width: 50%;
  height: 1px;
  background-color: white;
  margin: 1rem 0;
}
.submit-sign h2 {
  font-weight: 550;
}
.submit-sign {
  display: none;
}
.clicked .hamburger-btn::after {
  transform: translateX(-10px) rotate(-45deg);
}
.clicked .hamburger-btn::before {
  transform: translateX(-10px) rotate(45deg);
}
.clicked .hamburger-btn {
  background: transparent;
}
.clicked .submit-sign {
  display: flex;
}
.search-hidden {
  height: 90px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--WHITE);
  border-bottom: 1px solid var(--BLUE-ACCENT);
  /* display: none; */
}
.search-hidden input {
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
  height: 60%;
  padding: 10px 10px 10px 16px;
}
.search-hidden input::placeholder {
  font-size: 20px;
}
.search-hidden i {
  margin-left: 0.5em;
  color: black;
  font-size: 25px;
  font-weight: 700;
}
.desk-header {
  display: none;
}

/* MEDIA QUERY */

@media screen and (max-width: 391px) {
  .help-center h1 {
    border-left: 3px solid white;
    padding: 0 0 0 5px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    /* transform: translateY(5px); */
  }
}

/* min-width: 769px  */

@media screen and (min-width: 769px) {
  header .container {
    margin: 0 2.3em;
  }
}

/* min-width:992px  */

@media screen and (min-width: 1200px) {
  .search-hamburger {
    display: none;
  }
  header .container {
    margin: 0 3em;
    max-height: 88px;
    justify-content: space-around;
    column-gap: 5rem;
  }
  .desk-header {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
  .desk-header input {
    border: 1px solid black;
    border-radius: 7px;
    width: 265px;
    height: 53px;
    padding: 15px 10px 10px 16px;
  }
  .desk-header input::placeholder {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .desk-header .submit {
    border: 1px solid var(--WHITE);
    border-radius: 9px;
    padding: 0.6rem 25px 0.6rem 25px;
    font-size: 1.5rem;
    font-weight: 400;
    white-space: nowrap;
  }
  .desk-header .sign {
    padding: 0.7rem 20px 0.75rem 20px;
    background-color: var(--BLUE-ACCENT);
    border-radius: 7px;
    padding: 0.6rem 40px 0.6rem 40px;
    font-size: 1.5rem;
    font-weight: 400;
    white-space: nowrap;
  }
}
