@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* outline: 2px solid red; */
}
:root {
  --BLUE-ACCENT: #4c5fd5;
  --WHITE-BLUE: #dadbf1;
  --BLACK: #000000;
  --WHITE: #fff;
  --FONT-Poppins: "Poppins", sans-serif;
}
body {
  /* width: 100vw; */
  position: relative;
}
a:any-link {
  text-decoration: none;
  color: inherit;
}
header {
  background-color: var(--BLACK);
  color: var(--WHITE);
  /* width: 100%;
  width: 100%; */
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  margin-left: 5px;
}
.logo-help {
  display: flex;
  column-gap: 1rem;
  margin-top: 5px;
  margin-left: 1em;
}

.help-center {
  height: 30px;
  transform: translateX(-10px);
}
.help-center h1 {
  border-left: 3px solid white;
  padding: 0 0 0 5px;
  font-size: 24px;
  font-weight: 600;
  white-space: nowrap;
  /* transform: translateY(5px); */
}
.abstract-logo {
  width: 126px;
  height: 32px;
  margin-left: 5px;
}
.search-hamburger {
  display: flex;
}
.search-hamburger .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  margin-right: 10px;
}
.search i {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 4px;
}
.hamburger-menu {
  position: relative;
  width: 42px;
  height: 42px;
  border: none;
  background: transparent;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* margin-right: 2em; */

  /* margin-left: 1em; */
}

.hamburger-menu .hamburger-btn,
.hamburger-menu .hamburger-btn::after,
.hamburger-menu .hamburger-btn::before {
  position: absolute;
  width: 23px;
  height: 2px;
  background-color: white;
}

.hamburger-menu .hamburger-btn::after,
.hamburger-menu .hamburger-btn::before {
  content: "";
}

.hamburger-menu .hamburger-btn::before {
  transform: translate(-12px, 8px);
  align-self: center;
  justify-self: center;
}

.hamburger-menu .hamburger-btn::after {
  transform: translate(-12px, -8px);
}
.submit-sign {
  border-top: 1px solid var(--WHITE);
  padding: 4em 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.submit-sign .divider {
  width: 50%;
  height: 1px;
  background-color: white;
  margin: 1rem 0;
}
.submit-sign h2 {
  font-weight: 550;
}
.submit-sign {
  display: none;
}
.clicked .hamburger-btn::after {
  transform: translateX(-10px) rotate(-45deg);
}
.clicked .hamburger-btn::before {
  transform: translateX(-10px) rotate(45deg);
}
.clicked .hamburger-btn {
  background: transparent;
}
.clicked .submit-sign {
  display: flex;
}
.search-hidden {
  height: 90px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--WHITE);
  border-bottom: 1px solid var(--BLUE-ACCENT);
  /* display: none; */
}
.search-hidden input {
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
  height: 60%;
  padding: 10px 10px 10px 16px;
}
.search-hidden input::placeholder {
  font-size: 20px;
}
.search-hidden i {
  margin-left: 0.5em;
  color: black;
  font-size: 25px;
  font-weight: 700;
}
.desk-header {
  display: none;
}
.top-main {
  background-color: var(--WHITE-BLUE);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 370px;
}
.top-main h1 {
  font-size: 2.5rem;
  letter-spacing: -3px;
  font-weight: 400;
  margin: 0 0 50px 0;
}
.top-main .input {
  width: 90%;
  max-width: 720px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--BLACK);
  border-radius: 5px;
  background-color: var(--WHITE);
  margin-bottom: 10px;
}
.input input::placeholder {
  font-size: 20px;
}
.top-main .input input {
  border: none;
  outline: none;
  border-radius: 5px;
  width: 80%;
  height: 65px;
  padding: 10px 10px 10px 16px;
  font-size: 20px;
}
.top-main .input .arrow-svg {
  width: 40px;
  height: 40px;
}

.help-sticky {
  background-color: #4c5fd5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid var(--BLUE-ACCENT);
  left: 90%;
  bottom: 9px;
  position: sticky;
}
.help-sticky h3 {
  display: none;
}
.help-sticky i {
  border: 2px solid var(--WHITE);
  border-radius: 50%;
  color: var(--WHITE);
  padding: 1px;
  font-size: 14px;
}

.list-container {
  margin-top: 6rem;
  display: grid;
  place-items: center;
}
.list-container .sub-list {
  display: flex;
  margin: 0 2rem;
  max-width: 600px;
  margin-bottom: 3rem;
  justify-content: center;
}
.list-container .sub-list .img-icon {
  margin-right: 1rem;
}
.list-container .sub-list img {
  width: 80px;
  aspect-ratio: 1/1;
}

.list-container .sub-list h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.list-container .sub-list p {
  font-weight: 400;
  font-size: 20px;
  margin: 1rem 0;
}
.list-container .sub-list a {
  color: var(--BLUE-ACCENT);
  font-size: 20px;
}

/* MEDIA QUERY */

@media screen and (max-width: 391px) {
  .help-center h1 {
    border-left: 3px solid white;
    padding: 0 0 0 5px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    /* transform: translateY(5px); */
  }
  .search {
    margin-right: 0;
  }
}

/* min-width: 769px  */

@media screen and (min-width: 769px) {
  header .container {
    margin: 0 2.3em;
  }
}
@media screen and (min-width: 500px) {
  .top-main h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 769px) {
  .top-main h1 {
    font-size: 4.5rem;
    margin: 0 0 30px 0;
  }

  .help-sticky {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 85%;
  }
  .help-sticky h3 {
    display: block;
  }
  .help-sticky i {
    margin-right: 10px;
  }

  .list-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .list-container .sub-list {
    max-width: 350px;
  }

  /* min-width:992px  */

  @media screen and (min-width: 1200px) {
    .search-hamburger {
      display: none;
    }
    header .container {
      margin: 0 3em;
      max-height: 88px;
      justify-content: space-around;
      column-gap: 5rem;
    }
    .desk-header {
      display: flex;
      align-items: center;
      column-gap: 15px;
    }
    .desk-header input {
      border: 1px solid black;
      border-radius: 7px;
      width: 265px;
      height: 53px;
      padding: 15px 10px 10px 16px;
    }
    .desk-header input::placeholder {
      font-size: 1.3rem;
      font-weight: 400;
    }
    .desk-header .submit {
      border: 1px solid var(--WHITE);
      border-radius: 9px;
      padding: 0.6rem 25px 0.6rem 25px;
      font-size: 1.5rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .desk-header .sign {
      padding: 0.7rem 20px 0.75rem 20px;
      background-color: var(--BLUE-ACCENT);
      border-radius: 7px;
      padding: 0.6rem 40px 0.6rem 40px;
      font-size: 1.5rem;
      font-weight: 400;
      white-space: nowrap;
    }

    .list-container {
      margin-right: 6rem;
      margin-left: 6rem;
    }
    .list-container .sub-list {
      max-width: 550px;
    }

    .list-container .sub-list p {
      font-weight: 400;
      font-size: 24px;
    }

    .list-container .sub-list:last-child {
      margin-right: 12rem;
    }
    .list-container .sub-list:nth-last-child(3) {
      /* margin-right: 10rem; */
      /* background-color: red; */
    }
  }
}
